body {
    background-color:rgb(255, 230, 230);
	margin:0 auto;
}

h2 {
	font-size:27px
}

#welcome {font-family:sans-serif;
    font-size: 3em;
    position:absolute;
    color:white;
    margin:5px 0px 0px 100px;
    background-color:rgb(26,0,26);
    }
h1 em {color:pink}
#web-entrancediv {
   
    background-color:rgb(26, 0, 26);
}
#pinkp {
    font-family:"Lucida Sans Unicode", monospace;
    font-size: 22px;
	text-align:center;
    float:right;
    width:35%;;
    color:white;
    padding:20px;
	box-sizing:border-box;
	font-style:italic;
	
}
p#pinkp span {
	font-style:normal;
	text-decoration:underline;
}
#pinkpic {
    margin:20px;
    float: left;
}
.pinkinfo {
	font-size:17px;
    font-family:sans-serif;
    font-style:italic;
    text-indent:50px;
    line-height:1.5em;
    margin:20px;
    padding:0px 20px;
    text-align:justify;
      
}
#infodiv {
    background-color:rgb(255, 230, 230);
    width:75%;
    float:left;	
}
#whois {text-indent:50px; padding-top:10px;}

.indexdiv {
    background-color:rgb(184, 184, 148);
    font-size:1.5em;
    font-weight:bold;
    font-family:"Lobster", serif;
    float:right;
    width:24%;
    line-height:2;
    border:7px double;
    height:auto;
	clear:right;
	
}
.indexdiv a {
	text-decoration:none;
}
#historydiv {
    background-color:rgb(221, 255, 204);
    font-family:sans-serif;
    text-align: justify;
    box-sizing:border-box;
    margin-top: 20px;
    padding-top:20px;
    float:left;	
}
#history {text-indent:50px;
	margin:20px; 
	padding:0px 20px;
	font-family:serif;
}


#historyimg {
    float:right;
    margin-left:20px;
	box-sizing:border-box;

}

#recordsdiv {
	box-sizing:border-box;
	
}
#records {
	text-indent:50px; 
	padding:30px 0px 0px 40px;
	clear:left;
}
#rectable {
	font-family:"Lobster", serif;
	color:rgb(255, 230, 230);
	background-color:rgb(26,0,26);
	width:23%;
	float:right;
	line-height:2;
	margin-left:20px;
	margin-top:80px;
	}

#membersdiv {
	font-family:"Lucida Sans Unicode", monospace;
	color:rgb(26,0,26);
	background-color:rgb(184, 184, 148);
	border:10px double rgb(26, 0, 26);
	float:right;
	width:28%;
	box-sizing:border-box;
	height:857px;
	overflow:auto;
	margin-top:45px;
	margin-right:10px;
	margin-left:20px;
	clear:right;
		
}
#membersdiv h2 {
	text-align:center;
	text-decoration:underline;
	
}

#calendartable {
	font-family:serif;
	color:rgb(255, 230, 230);
	background-color:rgb(26,0,26);
	font-size:1.2em;
	line-height:2.5em;
	margin:20px;
	width:68%;
	margin-left:40px;
	box-sizing:border-box;
	
}
#calendartable td:hover {
	background-color:rgb(210, 121, 164);
	position:relative;
	
}
table#calendartable th {
	font-family: "Lucida Sans Unicode";
	background-color:rgb(255, 230, 230);
	color:rgb(26,0,26);
}
caption {
	margin-top:45px;
	background-color:rgb(26,0,26);
	font-size:1.8em;
}
#usefullinks {
	text-indent:50px;
	font-size:18px;
}
#usefuldiv {
	border-top:2px solid black;
	border-bottom:2px solid black;	
	line-height: 2em;
	font-family: monospace;
	font-size: 14px;
	margin:20px;
	margin-left:40px;
	
}
div#usefuldiv a:hover, a:active, a:focus {
		background-color:yellow;
	}

